/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


html{
	height: 100%;
}
body {
	color: #5a5a5a;
	height: 100%;
}

.card-header{
	background-color: #0f3f7f;
	color: #FFFFFF;
}

/* header img */
.bg-blue{
	background: #0f3f7f; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#022b65, strength=10);
	opacity: 0.9;
	background-color: rgba(2, 43, 101, 0.99);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.logo{
    width: auto;
	height: auto;
	}
.button-one{
	width: auto;
	height: auto;
}
.icon-index{
	width: auto;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
}
.marcus-foto{
	
}
.btn-blue{
	background-color: #0f3f7f;
	border-color: #0f3f7f;
}
.btn-blue:hover {
	background-color: #0f3f7f; /* Green */

	opacity: 0.7;
}
.btn-blue:visited {
	background-color: #0f3f7f; /* Green */
	opacity: 0.7;
}

.text-justify{
	text-align: justify;
	text-justify: inter-word;
}
.active1{
	color: white!important;
}
.table{
	color: #5a5a5a;
}
ul.b{
  list-style-type: square;
   list-style-position: inside;
   text-align: left;
   margin-left:1.0em;
}
.project{
	text-align: left;

}
.card-header{
	min-height: 4em;
	display: inline-block;
	
}
/* unvisited link */
.text-menu{
  color: #6c757d;
  text-decoration: none;

}
.active2{
	text-decoration: underline;
	font-weight: 500;
}
.text-menu:hover{
	color: #0f3f7f!important;
	font-weight: 500;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
